<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Presidential Timeline | Katherine Donnally</title>
  <meta name="author" content="Katherine Donnally">
  <meta name="description" content="Timeline of all U.S. presidents">
  <meta name="keywords" content="president,presidents,history,american history,timeline,america">
  <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url}}" type="image/vnd.microsoft.icon">
  <!-- Google fonts: -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
  <!-- CSS: -->
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}" type="text/css">
</head>